<MarketplaceDetails>
  <SmallAppTile>WPtile.png</SmallAppTile>
  <ScreenShots>main6ballwvga.png;main10ballwvga.png;settingswvga.png;;;;;;</ScreenShots>
  <ScreenShotsWXGA>main6ballwxga.png;main10ballwxga.png;settingswxga.png;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>main6ball720p.png;main10ball720p.png;settings720p.png;;;;;;</ScreenShots720P>
</MarketplaceDetails>